header {
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'righteous-regular', Arial, sans-serif;
    color: salmon;
    background-color: black;
    padding: 25px;
}

#navigator {
    background-color: salmon;
}

nav {
display: inline-block;
padding: 10px;
background-color: salmon;
}

#salesList {
    margin-left: 18%;
    padding: 30px;
    border-width: 3px;
    border-color: black;
}

article { 
    padding-bottom: 60px;
}

h2 {
    font-family: 'righteous-regular', Arial, sans-serif;
    font-size: 26px;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    color: gray;
}

footer {
    margin-top: 20%;
    margin-bottom: 0%;
    text-align: center;
    background-color: lightgray;
    padding: 40px
}


table, tr, th, td {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-size: 20px;
}
