
h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'righteousregular', Arial, sans-serif;
    color: salmon;
    background-color: black;
    padding: 5%;
    font-style: italic;
}


nav {
    display: flex;
    padding: 10px;
    background-color: salmon;
    padding-right: 70%;
}

a {
    display: flex;
    margin-left: 10%;
    justify-content: space-between;

}

#salesList {
    display: flex;
    padding: 30px;
    border-width: 3px;
    border-color: black;
}

article { 
    padding-bottom: 60px;
}

h2 {
    font-family: 'righteousregular', Arial, sans-serif;
    font-size: 26px;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    color: gray;
    line-height: 30px;
}

.bottom {
    color: black;
}

footer {
    margin-top: 20%;
    margin-bottom: 0%;
    text-align: center;
    background-color: lightgray;
    padding: 5%
}

img {
    display: flex;
    width: 100%;
    border-style: solid;
    border-width : 2px;
    margin-bottom: 30px;;

}

table, th, td {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
}

th, td {
    border-color: black;
}

table {

    border-color: gray;
    
}
.grayCells {
    background-color: gray;
    color: white;
    border: none;
}  

.storeLocation, .numbers {
    background-color: salmon;
}

td.wide {
    width: 100px;
    
}


